/* EXTERNALS */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

/* MISCELANEOUS */

@import url("./misc//normalize.css");
@import url("./misc/variables.css");

/* PARTIALS */
@import url("./partials/header.css");
@import url("./partials/main.css");
@import url("./partials/footer.css");

/* PAGINAS */

@import url("./pages/home.css");
@import url("./pages/nosotros.css");

.container-login {
  width: 515px;
  height: 289.13px;
  margin-top: 180px;
  margin-left: 462.5px;
  border-radius: 3px;
}

h2 {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.04em;
  text-align: right;
}

.email {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-align: right;
}

.value-email {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-align: right;
  color: #b9b9b9;
  border-top: none; /* Elimina el borde superior */
  border-left: none; /* Elimina el borde izquierdo */
  border-right: none; /* Elimina el borde derecho */
  border-bottom: 2px solid #ff3333;
}

.password {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-align: right;
}

.value-password {
  border-top: none; /* Elimina el borde superior */
  border-left: none; /* Elimina el borde izquierdo */
  border-right: none; /* Elimina el borde derecho */
  border-bottom: 2px solid #ff3333;
}

.boton {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  background: #ff3333;
  width: 103px;
  height: 39.06px;
  top: 390.78px;
  left: 583.26px;
}

.recordarme {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  border: 2px solid #1f1f1f;
}

.checkbox {
  width: 16.27px;
  height: 16.27px;
  top: 402.18px;
  left: 727.49px;
  border-radius: 3px;
  border: 2px;
}

.recuperar {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #1d84b5;
}

.flex-ingresar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Group 98 */

position: absolute;
width: 273.48px;
height: 78.35px;
left: 583.26px;
top: 390.78px;

/* Component 2 */

position: absolute;
width: 103px;
height: 39.06px;
left: 583.26px;
top: 390.78px;

/* Rectangle 36 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ff3333;

/* Ingresar */

position: absolute;
left: 27.18%;
right: 27.18%;
top: 30.8%;
bottom: 30.8%;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #ffffff;

/* Group 28 */

position: absolute;
width: 129.25px;
height: 22px;
left: 727.49px;
top: 399.32px;

/* Recordarme */

position: absolute;
width: 104px;
height: 22px;
left: 752.74px;
top: 399.32px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #1f1f1f;

/* Rectangle 28 */

box-sizing: border-box;

position: absolute;
width: 16.27px;
height: 16.27px;
left: 727.49px;
top: 402.18px;

border: 2px solid #1f1f1f;
border-radius: 3px;

/* Olvidé mi contraseña */

position: absolute;
width: 140px;
height: 17px;
left: 650px;
top: 452.13px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #1d84b5;
