/* HEADER */

header {
  color: var(--light-font-solid);
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}

.navbar__logo {
  max-width: 300px;
}

.navbar__link {
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
  transition: background 0.3s ease-in-out;
  position: relative;
}

.cart {
  font-size: var(--font-large);
}

.navbar__link:hover {
  background-color: var(--primary-900);
}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--dark-bg-solid);
  z-index: 3;
}

.submenu__link {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-medium);
}

.submenu__link:hover {
  background-color: var(--primary-900);
}

/* @Media queries */

@media (max-width: 51.5em) {
  .navbar {
    justify-content: center;
    gap: var(--spacing-20);
  }
}

@media (max-width: 32.125em) {
  .navbar__menu {
    display: none;
    gap: var(--spacing-20);
  }
}
/*Resolucion 514px (Crear menu hamburguesa - JavaScript) */
/* } */

/* @Media queries */
